[user]
    name = Andrew Hoglund
    email =
[github]
    user = ahoglund
[push]
    default = simple
[credential]
    helper = osxkeychain
[alias]
    st = status
    df = diff
    ci = commit
    co = checkout
    br = branch
    pl = pull
    ps = push
[init]
    templatedir = ~/.git_template
