#ignore all
*

#exceptions
!.config/alacritty/alacritty.yml
!.gitconfig
!.vimrc
!.tmux.conf
!.slate
!.bash_profile
!.git-completion.sh
!.git-prompt.sh
!.setup.sh
!.vimbundles
!.git_template/
!.git_template/*
!.git_template/hooks/
!.git_template/hooks/*
!.railscast.colors.itermcolors
!start_tmux.sh
!.hammerspoon/
!.hammerspoon/*
!.gitconfig.local.example
!.zshrc
